:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  color: #555555;
}

.container {
  width: 400px;
  border: solid 1px #888;

  border-radius: 4px;
}
