.totalizer-table {
  width: 100%;

  border-collapse: separate;
  border-spacing: 0;

  padding: 10px;

  tbody:before {
    content: "@";
    color: transparent;
    line-height: 10px;
  }

  td:not(:first-child)::before {
    content: " ";
    position: absolute;

    left: 0;
    top: 0;

    width: 1px;
    height: 100%;

    background-color: #cacccf;
  }

  th,
  td {
    position: relative;

    text-align: left;
    padding: 4px 0 4px 20px;

    strong {
      color: #1e92ec;
    }
  }
}
